<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rh.cloudcampus.dao.TestMapper">

    <insert id="addSeller" parameterType="com.rh.cloudcampus.dto.TSeller">
      insert into t_seller
      (id, shopName, schoolId, schoolClassId, username, password, status, createTime, updateTime, updateBy)
      values
      (#{id}, #{shopName}, #{schoolId}, #{schoolClassId}, #{username}, #{password}, #{status}, #{createTime}, #{updateTime}, #{updateBy})
    </insert>

    <select id="getSeller" parameterType="com.rh.cloudcampus.dto.TSeller" resultType="com.rh.cloudcampus.dto.TSeller">
        select <include refid="tbColumns"/>
        from t_seller
        where status != 3
        <if test="username != null">
            and username = #{username}
        </if>
    </select>

    <sql id="tbColumns">
      id, shopName, scoolId, schoolClassId, username, password, status, createTime, updateTime, updateBy
    </sql>
</mapper>